<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Producto
    <small>catálogo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>
 <button class="btn btn-success" [routerLink]="['/home/nuevoproducto']">Nuevo</button>
<!-- Main content -->
<section class="content">
  <div class="panel">
    <div class="panel-body">
      
      <table class="table">
        <thead>
          <th>ID</th>          
          <th>DESCRIPCION</th>         
          <th>ACTIVO</th>
          <th>OPCIONES</th>
        </thead>
        <tbody>
       
         </tbody>
      </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>



</section>