<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Producto
    <small>catálogo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>
<button class="btn btn-success" [routerLink]="['/home/nuevoproducto']">Nuevo</button>
<!-- Main content -->
<section class="content">
  <div class="panel">
    <div class="panel-body">

      <table class="table">
        <thead>
          <th>UPC
          </th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Categoria</th>
          <th>Precio Credito</th>
          <th>Precio Venta</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of productos | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{item.UPC}}</td>
            <td>{{item.Nombre}}</td>
            <td>{{item.Descripcion}}</td>
            <td>{{item.Categoria.Nombre}}</td>
            <td>{{item.Categoria.PrecioCredito}}</td>
            <td>{{item.Categoria.Precioventa}}</td>

          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>



</section>
