<div class="row">
<h3>Clasificación artículo</h3>

<form  [formGroup]="forma" (ngSubmit)="guardarCambios()">

 <div class="form-group row" [ngClass]="{'has-danger':!forma.controls['descripcion'].valid}" >
      <label class="col-2 col-form-label">Descripción</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Descripción"
               formControlName="descripcion">
                <div class="form-control-feedback" *ngIf="forma.get('descripcion').errors?.required">
          La descripción es necesaria
        </div>
       
        
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger':!forma.controls['status'].valid}" >
      <label class="col-2 col-form-label">Estatus</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Descripción"
               formControlName="status">
                <div class="form-control-feedback" *ngIf="forma.get('status').errors?.required">
          La descripción es necesaria
        </div>
       
        
      </div>
    </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{forma.valid}}
 {{forma.status}}
</form>



</div>

